<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>portfolio</title>
    <link rel="stylesheet" href="portfolio.css">
</head>
<body>
    <script src="socket.js"></script>
    <script src="filter.js"></script>
    <script>
        var mysocket = new MySocket()
        mysocket.connectSocket()
        let sumSpent = parseFloat({{.BaseBalance}})
    </script>

    <div>Адрес кошелька: {{.PublicAddress}}</div>
    <div><div>USDT balance: </div><div class="baseBalance"></div></div>
    <div>{{.BuyHistory}}</div>
    <div class="totalBalance"></div>
    <div class="totalChange"></div>
    <div>
        {{range .Balance}}
        <ul>
            <div>{{.Ticker}} Amount:{{.Amount}} Price:{{.Price}}$</div>

            <div class="CH_cont{{.Ticker}}"><!--container shown if user bought some coins-->
                <div>Total: </div><div class="totalSubBalance T{{.Ticker}}"></div><div>$</div><!--total-->
                <div>Change: </div><div class="change CH{{.Ticker}}"></div>
            </div>
            <button id="{{.Ticker}}" class="buy B{{.Ticker}}">+</button>
            <input id="{{.Ticker}}" class="I{{.Ticker}}">
            <script>
                document.querySelector(".B{{.Ticker}}").addEventListener('click', function (e) {
                    // console.log(e.target.id)
                    mysocket.send(
                        "buy",
                        {
                        ticker: {{.Ticker}},
                        amount: document.querySelector(".I{{.Ticker}}").value
                        },
                        document.querySelector(".I{{.Ticker}}")
                    )
                });
                document.querySelector(".I{{.Ticker}}").addEventListener('keypress', function (e) {
                    if (e.key === 'Enter') {
                        // console.log(e.target.id)
                        mysocket.send(
                            "buy",
                            {
                                ticker: {{.Ticker}},
                                amount: document.querySelector(".I{{.Ticker}}").value
                            },
                            document.querySelector(".I{{.Ticker}}")
                        )
                    }
                });
                document.querySelector(".T{{.Ticker}}").innerHTML = (parseFloat({{.Amount}})*parseFloat({{.Price}})).toString()
                sumSpent += parseFloat({{.Spent}})
            </script>
            <script>
                setInputFilter(document.querySelector(".I{{.Ticker}}"), function(value) {
                    return /^\d*\.?\d*$/.test(value); // Allow digits and '.' only, using a RegExp
                }, "Only digits and '.' are allowed");
            </script>
            <script>
                if (parseFloat({{.Spent}}) > 0){
                    document.querySelector(".CH{{.Ticker}}").innerHTML = ((parseFloat({{.Amount}})*parseFloat({{.Price}}) - parseFloat({{.Spent}}))/parseFloat({{.Spent}})*100).toFixed(2) + "%"
                } else {
                    document.querySelector(".CH_cont{{.Ticker}}").style.display = 'none';
                }

            </script>
        </ul>
        {{ end }}
    </div>
    <script>

        const balances = document.querySelectorAll(".totalSubBalance")
        const baseBalance = document.querySelector(".baseBalance")
        baseBalance.innerHTML = {{.BaseBalance}};
        let result = parseFloat(baseBalance.innerHTML)
        balances.forEach((element) =>{
            result += parseFloat(element.innerHTML)
        })

        document.querySelector(".totalBalance").innerHTML = "Total: " + result.toString() + "$";
        if (sumSpent != 0){
            document.querySelector(".totalChange").innerHTML = "Total Change: " + ((result - sumSpent) / (sumSpent) * 100).toFixed(2) + "%";
        }
    </script>
</body>
</html>